.acquaintance {
    &__title {
        margin-bottom: 65px;
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img {
        flex: 340px 0 1;
        max-width: 340px;
        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
    &__text {
        flex: calc(100% - 390px) 0 1;
        max-width: calc(100% - 390px);
    }
    &__subtitle {
        font-size: 24px;
        line-height: 30px;
        color: $textColorH;
        margin-bottom: 24px;
    }
    &__description {
        margin-bottom: 36px;
    }
    &__link {}
}