.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    &__inner {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {}
    &__logo {}
    &__right {}
    &__menu {}
}