.modal-enter {
    opacity: 0;
}

.modal-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}

.modal-exit {
    opacity: 1;
}

.modal-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}

.modal-exit-done {
    opacity: 0;
}

.modal {
    &__body {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        z-index: 111;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__head {
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 17px;
    }
    &__title {
        font-size: 24px;
        line-height: 30px;
    }
    &__close {
        background: none;
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        transition: all 0.6s ease;
        cursor: pointer;
        &:hover,
        &:active,
        &:focus {
            transform: rotate(180deg);
        }
    }
    &__text {
        border-top: 1px solid #eceef1;
        border-bottom: 1px solid #eceef1;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 17px;
    }
    &__bottom {
        padding: 16px;
    }
    &__button {
        width: 80px;
        margin-left: auto;
    }
}

.overlay {
    opacity: 0.5;
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 110;
    top: 0;
    left: 0;
}