$ff: "Open Sans",
sans-serif;
$ff2: "PT Sans",
sans-serif;
$primaryColor: #ef5b4c;
$hoverColor: #d5564b;
$secondaryColor: #007bff;
$buttonColor: #fefefe;
$disabledBg: #d7d7d7;
$disabledColor: #8d8c8c;
$background: #fff;
$background2: #f9f9f3;
$textColorH: #212529;
$textColorP: #4c4b4b;
$grayTextColor: #6c757d;